venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
sunt/
SUNT/
tensorboard_graph_exploration/
logs.txt
q45833547-46022171-0.9-0.9-0.01.pkl
*.pkl
*.pt
*.log
output_obs/rotas_reais.pkl
.coverage
.pytest_cache/
.ipynb_checkpoints/
log.txt